/** @format */

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0049b7;
  color: whitesmoke;
  padding: 70px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

ul,
h1,
li {
  display: inline;
}

h1 {
  font-size: xx-large;
  margin-top: 100px;
}
ul {
  padding-left: 40%;
  font-size: x-large;
}

li:hover {
  color: skyblue;
  cursor: pointer;
}

input {
  border-color: grey;
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
  width: 550px;
  height: 40px;
  font-size: x-large;
}

button {
  width: 50px;
  height: 30px;
  display: inline;
}

button:hover {
  border-color: beige;
  cursor: pointer;
}

.searchbar {
  padding: 50px;
  text-align: center;
  margin-top: 90px;
}

input:hover {
  border-color: #0049b7;
}

.image1 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
}

.image2 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.image3 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.image4 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.image5 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.image6 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.image7 {
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}
 
.image8{ 
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}


.image1:hover {
  color: #0049b7;
  cursor: pointer;
}

.image2:hover {
  color: #0049b7;
  cursor: pointer;
}

.image3:hover {
  color: #0049b7;
  cursor: pointer;
}

.image4 :hover {
  color: #0049b7;
  cursor: pointer;
}

.image5 :hover {
  color: #0049b7;
  cursor: pointer;
}

.image6:hover {
  color: #0049b7;
  cursor: pointer;
}

.image7:hover {
  color: #0049b7;
  cursor: pointer;
}

.image8:hover{
  color: #0049b7;
  cursor:pointer;
}